*{
  margin: 0px;
  padding: 0px;
}

.container,.container-fixed{
  margin: 0px;
  padding: 0px;
  min-height: 400px;
}

.short{
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding: 8px;
}

.long{
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding: 8px;
}

.menu{
  display: block;
  list-style-type: none;
  top: 0px;
  bottom: 0px;
}

.menu li{
  line-height: 30px;
  text-align: center;
  background-color: #f4f4f4;
  transition: background-color 2s;
  -moz-transition: background-color 2s;	/* Firefox 4 */
  -webkit-transition: background-color 2s;	/* Safari 和 Chrome */
  -o-transition: background-color 2s;	/* Opera */
  
  animation: menuitem 2s;
  -moz-animation: menuitem 2s;	/* Firefox */
  -webkit-animation: menuitem 2s;	/* Safari 和 Chrome */
  -o-animation: menuitem 2s;	/* Opera */

}

.menu li:hover,.menu .active{
  background-color:#e62;
}

@keyframes menuitem
{
from {
  opacity: 0;
  width: 0%;
  }
to {
  opacity: 1;
  width: 100%;
  }
}

@-moz-keyframes menuitem /* Firefox */
{
from {
  opacity: 0;
  width: 0%;
  }
to {
  opacity: 1;
  width: 100%;
  }
}

@-webkit-keyframes menuitem /* Safari 和 Chrome */
{
from {
  opacity: 0;
  width: 0%;
  }
to {
  opacity: 1;
  width: 100%;
  }
}

@-o-keyframes menuitem /* Opera */
{
from {
  opacity: 0;
  width: 0%;
  }
to {
  opacity: 1;
  width: 100%;
  }
}

button{
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  min-width: 80px;
  padding: 4px 20px 6px;
}

button:hover{
  background-color: #eaeaea;
  border-color: #eaeaea;
  outline: 1px solid transparent;
  color: #000;
}

button:focus{
  background-color: #eaeaea;
  border-color: #0078d7;
  outline: 1px solid transparent;
  color: #000;
}

button:active{
  background-color: #0078d7;
  border-color: #0078d7;
  color: #fff;
}

textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  font-size: 12px;
  color: #333333;
  padding: 6px 10px 8px;
  width: 100%;
  min-width: 180px;
}

textarea:hover,select,input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover{
  border-color: #767676;
}

textarea:focus,select,input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus{
  border-color: #0078d7;
}

textarea:hover,
textarea:focus {
  outline: 1px solid transparent;
}

textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #666666;
}

table{
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
}

tbody tr:nth-child(2n+1){
  background-color: #f4f4e4;
}

tbody tr:hover{
  background-color: #e84;
}

a{
  color: #0078d7;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #004578;
}

a:active {
  color: #0078d7;
}

.center{
  max-width: 400px;
  padding: 0 20px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

select,input[type="text"],input[type="email"],input[type="password"]{
  width: 360px;
  height: 32px;
  font-size: 12px;
  color: #333;
  border: 1px solid #c8c8c8;
  padding: 6px 10px 8px 10px;
  box-sizing: border-box;
}

option{
  height: 32px;
  font-size: 12px;
  color: #333;
  padding-left: 6px;
  padding-top: 8px;
  box-sizing: border-box;
}

.panel{
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding: 8px;
  width: 100%
}

.panel .head{
  font-weight: 700;
  border-bottom: 1px solid #767676;
}

.panel .body{
  padding: 8px 0;
  min-height: 200px;
}

.panel .foot{
  font-weight: 700;
  border-top: 1px solid #767676;
}

.info{
  background-color: #f4f4f4;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 8px 20%;
}

.card{
  width: 100%;

  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #0078d7;
  box-shadow: 10px 10px 5px #888888;
}

.card .personal{
  height: 80px;
}

.card .personal img{
  float: left;
  margin-right: 8px;
}

.card .list{
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #767676;
  position: relative;
}

.card .list li{
  display: inline;
  line-height: 30px;
}

.card .list .active:after{
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  position: absolute;
  border-right: none;
  border-bottom: none;
  top: 25px;
  left: 13px;
}

.card .content{
  width: 100%;

  overflow-x: hidden;
}

.card .content ul{
  width: 200%;
  position: relative;
  left: 0;
  transition: left 2s;
  -webkit-transition: left 2s;
  -o-transition: left 2s;
  -moz-transition: left 2s;
}

.card .content li{
  float: left;
  width: 50%;
  list-style-type: none;
}

.card .content ul:hover{
  left: -100%;
}

.listbox{
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 8px;
  background-color: #f4f4f4;
  list-style-type: none;
}

.listbox li{
  line-height: 40px;
  width: 100%;
  border-bottom: 1px solid #767676;
  float: left;
}

.listbox li:hover{
  background-color: #e84;
}

.listbox .long{
  overflow: hidden;
}

.listbox .short{
  text-align: right;
}

.pager{
  line-height: 30px;
}

.pager a,.pager span{
  float: left;
  min-width: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 0px 8px;
  margin-right: 8px;
  border: 1px solid #767676;
}

.pager span{
  font-weight: 700;
  border-color: transparent;
}

.pager a:hover{
  border: 1px solid #0078d7;
}

.fail{
  color: #a94442;
}

.success{
  color: #3c763d;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.shade{
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  opacity: 0.5;
  display: none;
}

.window{
  z-index: 10000;
  position: fixed;
  top:100px;
  width: 61.8%;
  left: 19.1%;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #666;
  display: none;
}

.window .head{
  border-bottom: 1px solid #333;
  line-height: 40px;
  text-align: center;
}

.window .body{
  margin: 8px;
  min-height: 300px;
  overflow-y: auto;
}

.window .foot{
  border-top: 1px solid #333;
  line-height: 40px;
  text-align: right;
}

.footer{
  background-color: #f4f4f4;
  min-height: 40px;
  margin-top: 10px;
  text-align: center;
}

.dateLine {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.dateLine::before {
  content: '';
  position: absolute;
  top: 0;
  left: 38px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.dateThing,.dateYear{
  position: relative;
  margin: 2em 0;
}
.dateThing {
  margin-left: 20px;
}
.dateThing:after {
  content: "";
  display: table;
  clear: both;
}
.dateYear:first-child {
  margin-top: 0;
}
.dateThing:last-child {
  margin-bottom: 0;
}

.dateThing .date,.dateYear .date{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #c8c8c8;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.dateThing .msg {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.dateThing .msg:after {
  content: "";
  display: table;
  clear: both;
}
.dateThing .msg h2 {
  color: #303e49;
}
.dateThing .msg p{
  font-size: 13px;
  font-size: 0.8125rem;
}
.dateThing .msg p {
  margin: 1em 0;
  line-height: 1.6;
}
.dateThing .msg::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #a94442;
}
.dateYear {
  height: 80px;
}
.dateYear .date {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: red;
  color: white;
}

.editbox{
  border-radius: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}

.editbox .tool{
  text-align: right;
}

.editbox>ul{
  border-top: 1px solid #767676;
}

.editbox li{
  list-style-type: none;
  line-height: 30px;
  margin: 2px;
  padding: 0 8px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #767676;
  background-color: #f4f4f4;
}

.editbox li .more{
  float: right;
  width: 30px;
  font-size: 20px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #c8c8c8;
  text-align: center;
}

.editbox li li{
  margin-left: 20px;
}

.editbox li ul{
  display: none;
}

@media only screen and (max-width:479px){ 
.nav{
  background-color: #f4f4f4;
}

.nav .brand{
  line-height: 40px;
  text-align: right;
  margin-right: 8px;
}

.nav ul{
  display: none;
}

.nav ul.open{
  display: block;
}

.nav li{
  line-height: 40px;
  text-align: center;
  list-style-type: none;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  -moz-transition: background-color 1s;
}

.nav li:hover,.nav .active{
  background-color: #e84;
}

.short{
  display: none;
}

.short.open{
  display: block;
  width: 100%;
}

.long{
  width: 100%;
}

}
@media only screen and (min-width:480px){
.nav{
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: #f4f4f4;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  outline: 1px solid transparent;
}
.nav .brand{
  float: left;
  margin: 0 7px;
  line-height: 40px;
}

.nav ul{
    display: block;
    list-style: none;
    margin: 0 7px 0 0;
    padding: 0;
}
.nav ul li{
  box-sizing: border-box;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  padding-left: 20px;
  position: relative;
  float: left;
  margin-right: 20px;
  font-size: 14px;
  padding: 0;
}

.nav ul li:hover,.nav ul .active{
  border-bottom: 2px solid #0078d7;
  background-color: transparent;
}

.nav a{
  color: #333;
}

.nav ul li.right{
  float: right;
}

.container{
  padding: 0 8px;
  overflow:hidden;
}
.container-fixed{
  width: 100%;
  padding:0 8px;
  margin: 0 auto;
  overflow:hidden;
}

.short{
  width: 38.2%;
}

.long{
  width: 61.8%;
}
.dateLine {
  margin-top: 3em;
  margin-bottom: 3em;
}
.dateLine::before {
  left: 50%;
  margin-left: -2px;
}
.dateThing {
  margin: 4em 0;
}
.dateThing:first-child {
  margin-top: 0;
}
.dateThing:last-child {
  margin-bottom: 0;
}
.dateThing .date {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 50px;
  left: 50%;
  margin-left: -30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.dateYear .date {
  left: 50%;
  margin-left: -40px;
}
.dateThing .msg {
  margin-left: 0px;
  padding: 1.2em;
  width: 40%;
  text-align: right
}
.dateThing .msg::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #a94442;
}
.dateThing:nth-child(odd) .msg {
  float: right;
  text-align: left;
}
.dateThing:nth-child(odd) .msg::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #a94442;
}
}
@media (min-width:480px) and  (max-width:780px) {
.dateThing .msg {
  padding: 1em;
  width: 35%;
}
}

@media (min-width:976px){
.container-fixed{
  width: 960px;
}
}