$color: #00BFFF;  //蓝
$color1: #CD8162; //橙黄
$color2: #CDBA96; //橙白
$line: 40px;
$danger: #f00;
$primary: #ff77ff;

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$lineHeight: 30px;

$enable-flex:               false !default;

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@mixin active() {
    background: $color;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.clearfix {
  @include clearfix();
}