$theme-colors: (
    'primary': #337ab7,
    'success': #198754,
    'info': #5bc0de,
    'danger': $invalid,
    'warning': #f0ad4e,
    'secondary': #6c757d
);

$lineHeight: 2.25rem;

$enable-flex: false !default;

$grid-breakpoints: (
    xs: 0,
    sm: 36rem,
    md: 48rem,
    lg: 62rem,
    xl: 75rem,
    xxl: 87.5rem,
) !default;

$container-max-widths: (
    sm: 33.75rem,
    md: 45rem,
    lg: 60rem,
    xl: 71.25rem,
    xxl: 82.5rem,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

// Container padding

$container-padding-x: $grid-gutter-width !default;

@mixin active() {
    background:  var(--#{$prefix}-primary);
    color:  var(--#{$prefix}-primary-text);
}


* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--#{$prefix}-body);
    color: var(--#{$prefix}-body-text);
}

@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
.clearfix {
    @include clearfix();
}

.text-center {
    text-align: center;
}

