$zd-sm-min:       320px !default;

// Medium screen / tablet (480px - 639px)
$zd-md-min:       480px !default;

// Large screen / tablet (640px - 1023px)
$zd-lg-min:       640px !default;

// Extra large screen / tablet (1024px - 1365px)
$zd-xl-min:       1024px !default;

// Extra extra large screen / desktop (1366px - 1919px)
$zd-xxl-min:      1366px !default;

// Extra extra extra large screen / desktop (1920px and up)
$zd-xxxl-min:     1920px !default;

// Set all maxes since order matters in SASS
$zd-sm-max:       ($zd-md-min - 1);
$zd-md-max:       ($zd-lg-min - 1);
$zd-lg-max:       ($zd-xl-min - 1);
$zd-xl-max:       ($zd-xxl-min - 1);
$zd-xxl-max:      ($zd-xxxl-min - 1);

.zd-u-borderBox {
  box-sizing: border-box;
}

// Ensures the block expands to the full height to enclose its floated childen.
.zd-u-clearfix {
  *zoom: 1;
  &::before,
  &::after {
    display: table;
    content: "";
    line-height: 0;
  }
  &::after {
    clear: both;
  }
}

@mixin zd-Grid {
  @include zd-u-borderBox;
  @include zd-u-clearfix;
  padding: 0 8px;
}

//== Grid rows (pull first and last column out)
//
@mixin zd-Grid-row {
  margin: 0 -8px;
  @include zd-u-borderBox;
  @include zd-u-clearfix;
}

//== Grid cells
//
@mixin zd-Grid-col {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  @include zd-u-borderBox;
  float: left;
}

// Small Screens
.zd-u-sm12 {
  width: 100%;
}
.zd-u-sm11 {
  width: 91.66666666666666%;
}
.zd-u-sm10 {
  width: 83.33333333333334%;
}
.zd-u-sm9 {
  width: 75%;
}
.zd-u-sm8 {
  width: 66.66666666666666%;
}
.zd-u-sm7 {
  width: 58.333333333333336%;
}
.zd-u-sm6 {
  width: 50%;
}
.zd-u-sm5 {
  width: 41.66666666666667%;
}
.zd-u-sm4 {
  width: 33.33333333333333%;
}
.zd-u-sm3 {
  width: 25%;
}
.zd-u-sm2 {
  width: 16.666666666666664%;
}
.zd-u-sm1 {
  width: 8.333333333333332%;
}
.zd-u-smPull12 {
  right: 100%;
}
.zd-u-smPull11 {
  right: 91.66666666666666%;
}
.zd-u-smPull10 {
  right: 83.33333333333334%;
}
.zd-u-smPull9 {
  right: 75%;
}
.zd-u-smPull8 {
  right: 66.66666666666666%;
}
.zd-u-smPull7 {
  right: 58.333333333333336%;
}
.zd-u-smPull6 {
  right: 50%;
}
.zd-u-smPull5 {
  right: 41.66666666666667%;
}
.zd-u-smPull4 {
  right: 33.33333333333333%;
}
.zd-u-smPull3 {
  right: 25%;
}
.zd-u-smPull2 {
  right: 16.666666666666664%;
}
.zd-u-smPull1 {
  right: 8.333333333333332%;
}
.zd-u-smPull0 {
  right: auto;
}
.zd-u-smPush12 {
  left: 100%;
}
.zd-u-smPush11 {
  left: 91.66666666666666%;
}
.zd-u-smPush10 {
  left: 83.33333333333334%;
}
.zd-u-smPush9 {
  left: 75%;
}
.zd-u-smPush8 {
  left: 66.66666666666666%;
}
.zd-u-smPush7 {
  left: 58.333333333333336%;
}
.zd-u-smPush6 {
  left: 50%;
}
.zd-u-smPush5 {
  left: 41.66666666666667%;
}
.zd-u-smPush4 {
  left: 33.33333333333333%;
}
.zd-u-smPush3 {
  left: 25%;
}
.zd-u-smPush2 {
  left: 16.666666666666664%;
}
.zd-u-smPush1 {
  left: 8.333333333333332%;
}
.zd-u-smPush0 {
  left: auto;
}

// Small Offset classes 0 ... 11
.zd-u-smOffset11 {
  margin-left: 91.66666666666666%;
}
.zd-u-smOffset10 {
  margin-left: 83.33333333333334%;
}
.zd-u-smOffset9 {
  margin-left: 75%;
}
.zd-u-smOffset8 {
  margin-left: 66.66666666666666%;
}
.zd-u-smOffset7 {
  margin-left: 58.333333333333336%;
}
.zd-u-smOffset6 {
  margin-left: 50%;
}
.zd-u-smOffset5 {
  margin-left: 41.66666666666667%;
}
.zd-u-smOffset4 {
  margin-left: 33.33333333333333%;
}
.zd-u-smOffset3 {
  margin-left: 25%;
}
.zd-u-smOffset2 {
  margin-left: 16.666666666666664%;
}
.zd-u-smOffset1 {
  margin-left: 8.333333333333332%;
}
.zd-u-smOffset0 {
  margin-left: 0;
}

// Medium Screens
.zd-u-md12 {
  @media (min-width: $zd-screen-md-min) {
    width: 100%;
  }
}
.zd-u-md11 {
  @media (min-width: $zd-screen-md-min) {
    width: 91.66666666666666%;
  }
}
.zd-u-md10 {
  @media (min-width: $zd-screen-md-min) {
    width: 83.33333333333334%;
  }
}
.zd-u-md9 {
  @media (min-width: $zd-screen-md-min) {
    width: 75%;
  }
}
.zd-u-md8 {
  @media (min-width: $zd-screen-md-min) {
    width: 66.66666666666666%;
  }
}
.zd-u-md7 {
  @media (min-width: $zd-screen-md-min) {
    width: 58.333333333333336%;
  }
}
.zd-u-md6 {
  @media (min-width: $zd-screen-md-min) {
    width: 50%;
  }
}
.zd-u-md5 {
  @media (min-width: $zd-screen-md-min) {
    width: 41.66666666666667%;
  }
}
.zd-u-md4 {
  @media (min-width: $zd-screen-md-min) {
    width: 33.33333333333333%;
  }
}
.zd-u-md3 {
  @media (min-width: $zd-screen-md-min) {
    width: 25%;
  }
}
.zd-u-md2 {
  @media (min-width: $zd-screen-md-min) {
    width: 16.666666666666664%;
  }
}
.zd-u-md1 {
  @media (min-width: $zd-screen-md-min) {
    width: 8.333333333333332%;
  }
}
.zd-u-mdPull12 {
  @media (min-width: $zd-screen-md-min) {
    right: 100%;
  }
}
.zd-u-mdPull11 {
  @media (min-width: $zd-screen-md-min) {
    right: 91.66666666666666%;
  }
}
.zd-u-mdPull10 {
  @media (min-width: $zd-screen-md-min) {
    right: 83.33333333333334%;
  }
}
.zd-u-mdPull9 {
  @media (min-width: $zd-screen-md-min) {
    right: 75%;
  }
}
.zd-u-mdPull8 {
  @media (min-width: $zd-screen-md-min) {
    right: 66.66666666666666%;
  }
}
.zd-u-mdPull7 {
  @media (min-width: $zd-screen-md-min) {
    right: 58.333333333333336%;
  }
}
.zd-u-mdPull6 {
  @media (min-width: $zd-screen-md-min) {
    right: 50%;
  }
}
.zd-u-mdPull5 {
  @media (min-width: $zd-screen-md-min) {
    right: 41.66666666666667%;
  }
}
.zd-u-mdPull4 {
  @media (min-width: $zd-screen-md-min) {
    right: 33.33333333333333%;
  }
}
.zd-u-mdPull3 {
  @media (min-width: $zd-screen-md-min) {
    right: 25%;
  }
}
.zd-u-mdPull2 {
  @media (min-width: $zd-screen-md-min) {
    right: 16.666666666666664%;
  }
}
.zd-u-mdPull1 {
  @media (min-width: $zd-screen-md-min) {
    right: 8.333333333333332%;
  }
}
.zd-u-mdPull0 {
  @media (min-width: $zd-screen-md-min) {
    right: auto;
  }
}
.zd-u-mdPush12 {
  @media (min-width: $zd-screen-md-min) {
    left: 100%;
  }
}
.zd-u-mdPush11 {
  @media (min-width: $zd-screen-md-min) {
    left: 91.66666666666666%;
  }
}
.zd-u-mdPush10 {
  @media (min-width: $zd-screen-md-min) {
    left: 83.33333333333334%;
  }
}
.zd-u-mdPush9 {
  @media (min-width: $zd-screen-md-min) {
    left: 75%;
  }
}
.zd-u-mdPush8 {
  @media (min-width: $zd-screen-md-min) {
    left: 66.66666666666666%;
  }
}
.zd-u-mdPush7 {
  @media (min-width: $zd-screen-md-min) {
    left: 58.333333333333336%;
  }
}
.zd-u-mdPush6 {
  @media (min-width: $zd-screen-md-min) {
    left: 50%;
  }
}
.zd-u-mdPush5 {
  @media (min-width: $zd-screen-md-min) {
    left: 41.66666666666667%;
  }
}
.zd-u-mdPush4 {
  @media (min-width: $zd-screen-md-min) {
    left: 33.33333333333333%;
  }
}
.zd-u-mdPush3 {
  @media (min-width: $zd-screen-md-min) {
    left: 25%;
  }
}
.zd-u-mdPush2 {
  @media (min-width: $zd-screen-md-min) {
    left: 16.666666666666664%;
  }
}
.zd-u-mdPush1 {
  @media (min-width: $zd-screen-md-min) {
    left: 8.333333333333332%;
  }
}
.zd-u-mdPush0 {
  @media (min-width: $zd-screen-md-min) {
    left: auto;
  }
}

// Medium Offset classes 0 ... 11
.zd-u-mdOffset11 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 91.66666666666666%;
  }
}
.zd-u-mdOffset10 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 83.33333333333334%;
  }
}
.zd-u-mdOffset9 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 75%;
  }
}
.zd-u-mdOffset8 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 66.66666666666666%;
  }
}
.zd-u-mdOffset7 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 58.333333333333336%;
  }
}
.zd-u-mdOffset6 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 50%;
  }
}
.zd-u-mdOffset5 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 41.66666666666667%;
  }
}
.zd-u-mdOffset4 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 33.33333333333333%;
  }
}
.zd-u-mdOffset3 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 25%;
  }
}
.zd-u-mdOffset2 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 16.666666666666664%;
  }
}
.zd-u-mdOffset1 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 8.333333333333332%;
  }
}
.zd-u-mdOffset0 {
  @media (min-width: $zd-screen-md-min) {
    margin-left: 0;
  }
}

// Large screens
.zd-u-lg12 {
  @media (min-width: $zd-screen-lg-min) {
    width: 100%;
  }
}
.zd-u-lg11 {
  @media (min-width: $zd-screen-lg-min) {
    width: 91.66666666666666%;
  }
}
.zd-u-lg10 {
  @media (min-width: $zd-screen-lg-min) {
    width: 83.33333333333334%;
  }
}
.zd-u-lg9 {
  @media (min-width: $zd-screen-lg-min) {
    width: 75%;
  }
}
.zd-u-lg8 {
  @media (min-width: $zd-screen-lg-min) {
    width: 66.66666666666666%;
  }
}
.zd-u-lg7 {
  @media (min-width: $zd-screen-lg-min) {
    width: 58.333333333333336%;
  }
}
.zd-u-lg6 {
  @media (min-width: $zd-screen-lg-min) {
    width: 50%;
  }
}
.zd-u-lg5 {
  @media (min-width: $zd-screen-lg-min) {
    width: 41.66666666666667%;
  }
}
.zd-u-lg4 {
  @media (min-width: $zd-screen-lg-min) {
    width: 33.33333333333333%;
  }
}
.zd-u-lg3 {
  @media (min-width: $zd-screen-lg-min) {
    width: 25%;
  }
}
.zd-u-lg2 {
  @media (min-width: $zd-screen-lg-min) {
    width: 16.666666666666664%;
  }
}
.zd-u-lg1 {
  @media (min-width: $zd-screen-lg-min) {
    width: 8.333333333333332%;
  }
}
.zd-u-lgPull12 {
  @media (min-width: $zd-screen-lg-min) {
    right: 100%;
  }
}
.zd-u-lgPull11 {
  @media (min-width: $zd-screen-lg-min) {
    right: 91.66666666666666%;
  }
}
.zd-u-lgPull10 {
  @media (min-width: $zd-screen-lg-min) {
    right: 83.33333333333334%;
  }
}
.zd-u-lgPull9 {
  @media (min-width: $zd-screen-lg-min) {
    right: 75%;
  }
}
.zd-u-lgPull8 {
  @media (min-width: $zd-screen-lg-min) {
    right: 66.66666666666666%;
  }
}
.zd-u-lgPull7 {
  @media (min-width: $zd-screen-lg-min) {
    right: 58.333333333333336%;
  }
}
.zd-u-lgPull6 {
  @media (min-width: $zd-screen-lg-min) {
    right: 50%;
  }
}
.zd-u-lgPull5 {
  @media (min-width: $zd-screen-lg-min) {
    right: 41.66666666666667%;
  }
}
.zd-u-lgPull4 {
  @media (min-width: $zd-screen-lg-min) {
    right: 33.33333333333333%;
  }
}
.zd-u-lgPull3 {
  @media (min-width: $zd-screen-lg-min) {
    right: 25%;
  }
}
.zd-u-lgPull2 {
  @media (min-width: $zd-screen-lg-min) {
    right: 16.666666666666664%;
  }
}
.zd-u-lgPull1 {
  @media (min-width: $zd-screen-lg-min) {
    right: 8.333333333333332%;
  }
}
.zd-u-lgPull0 {
  @media (min-width: $zd-screen-lg-min) {
    right: auto;
  }
}
.zd-u-lgPush12 {
  @media (min-width: $zd-screen-lg-min) {
    left: 100%;
  }
}
.zd-u-lgPush11 {
  @media (min-width: $zd-screen-lg-min) {
    left: 91.66666666666666%;
  }
}
.zd-u-lgPush10 {
  @media (min-width: $zd-screen-lg-min) {
    left: 83.33333333333334%;
  }
}
.zd-u-lgPush9 {
  @media (min-width: $zd-screen-lg-min) {
    left: 75%;
  }
}
.zd-u-lgPush8 {
  @media (min-width: $zd-screen-lg-min) {
    left: 66.66666666666666%;
  }
}
.zd-u-lgPush7 {
  @media (min-width: $zd-screen-lg-min) {
    left: 58.333333333333336%;
  }
}
.zd-u-lgPush6 {
  @media (min-width: $zd-screen-lg-min) {
    left: 50%;
  }
}
.zd-u-lgPush5 {
  @media (min-width: $zd-screen-lg-min) {
    left: 41.66666666666667%;
  }
}
.zd-u-lgPush4 {
  @media (min-width: $zd-screen-lg-min) {
    left: 33.33333333333333%;
  }
}
.zd-u-lgPush3 {
  @media (min-width: $zd-screen-lg-min) {
    left: 25%;
  }
}
.zd-u-lgPush2 {
  @media (min-width: $zd-screen-lg-min) {
    left: 16.666666666666664%;
  }
}
.zd-u-lgPush1 {
  @media (min-width: $zd-screen-lg-min) {
    left: 8.333333333333332%;
  }
}
.zd-u-lgPush0 {
  @media (min-width: $zd-screen-lg-min) {
    left: auto;
  }
}

// Large Offset classes 0 ... 11
.zd-u-lgOffset11 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 91.66666666666666%;
  }
}
.zd-u-lgOffset10 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 83.33333333333334%;
  }
}
.zd-u-lgOffset9 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 75%;
  }
}
.zd-u-lgOffset8 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 66.66666666666666%;
  }
}
.zd-u-lgOffset7 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 58.333333333333336%;
  }
}
.zd-u-lgOffset6 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 50%;
  }
}
.zd-u-lgOffset5 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 41.66666666666667%;
  }
}
.zd-u-lgOffset4 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 33.33333333333333%;
  }
}
.zd-u-lgOffset3 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 25%;
  }
}
.zd-u-lgOffset2 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 16.666666666666664%;
  }
}
.zd-u-lgOffset1 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 8.333333333333332%;
  }
}
.zd-u-lgOffset0 {
  @media (min-width: $zd-screen-lg-min) {
    margin-left: 0;
  }
}

// Extra Large Screens
.zd-u-xl12 {
  @media (min-width: $zd-screen-xl-min) {
    width: 100%;
  }
}
.zd-u-xl11 {
  @media (min-width: $zd-screen-xl-min) {
    width: 91.66666666666666%;
  }
}
.zd-u-xl10 {
  @media (min-width: $zd-screen-xl-min) {
    width: 83.33333333333334%;
  }
}
.zd-u-xl9 {
  @media (min-width: $zd-screen-xl-min) {
    width: 75%;
  }
}
.zd-u-xl8 {
  @media (min-width: $zd-screen-xl-min) {
    width: 66.66666666666666%;
  }
}
.zd-u-xl7 {
  @media (min-width: $zd-screen-xl-min) {
    width: 58.333333333333336%;
  }
}
.zd-u-xl6 {
  @media (min-width: $zd-screen-xl-min) {
    width: 50%;
  }
}
.zd-u-xl5 {
  @media (min-width: $zd-screen-xl-min) {
    width: 41.66666666666667%;
  }
}
.zd-u-xl4 {
  @media (min-width: $zd-screen-xl-min) {
    width: 33.33333333333333%;
  }
}
.zd-u-xl3 {
  @media (min-width: $zd-screen-xl-min) {
    width: 25%;
  }
}
.zd-u-xl2 {
  @media (min-width: $zd-screen-xl-min) {
    width: 16.666666666666664%;
  }
}
.zd-u-xl1 {
  @media (min-width: $zd-screen-xl-min) {
    width: 8.333333333333332%;
  }
}
.zd-u-xlPull12 {
  @media (min-width: $zd-screen-xl-min) {
    right: 100%;
  }
}
.zd-u-xlPull11 {
  @media (min-width: $zd-screen-xl-min) {
    right: 91.66666666666666%;
  }
}
.zd-u-xlPull10 {
  @media (min-width: $zd-screen-xl-min) {
    right: 83.33333333333334%;
  }
}
.zd-u-xlPull9 {
  @media (min-width: $zd-screen-xl-min) {
    right: 75%;
  }
}
.zd-u-xlPull8 {
  @media (min-width: $zd-screen-xl-min) {
    right: 66.66666666666666%;
  }
}
.zd-u-xlPull7 {
  @media (min-width: $zd-screen-xl-min) {
    right: 58.333333333333336%;
  }
}
.zd-u-xlPull6 {
  @media (min-width: $zd-screen-xl-min) {
    right: 50%;
  }
}
.zd-u-xlPull5 {
  @media (min-width: $zd-screen-xl-min) {
    right: 41.66666666666667%;
  }
}
.zd-u-xlPull4 {
  @media (min-width: $zd-screen-xl-min) {
    right: 33.33333333333333%;
  }
}
.zd-u-xlPull3 {
  @media (min-width: $zd-screen-xl-min) {
    right: 25%;
  }
}
.zd-u-xlPull2 {
  @media (min-width: $zd-screen-xl-min) {
    right: 16.666666666666664%;
  }
}
.zd-u-xlPull1 {
  @media (min-width: $zd-screen-xl-min) {
    right: 8.333333333333332%;
  }
}
.zd-u-xlPull0 {
  @media (min-width: $zd-screen-xl-min) {
    right: auto;
  }
}
.zd-u-xlPush12 {
  @media (min-width: $zd-screen-xl-min) {
    left: 100%;
  }
}
.zd-u-xlPush11 {
  @media (min-width: $zd-screen-xl-min) {
    left: 91.66666666666666%;
  }
}
.zd-u-xlPush10 {
  @media (min-width: $zd-screen-xl-min) {
    left: 83.33333333333334%;
  }
}
.zd-u-xlPush9 {
  @media (min-width: $zd-screen-xl-min) {
    left: 75%;
  }
}
.zd-u-xlPush8 {
  @media (min-width: $zd-screen-xl-min) {
    left: 66.66666666666666%;
  }
}
.zd-u-xlPush7 {
  @media (min-width: $zd-screen-xl-min) {
    left: 58.333333333333336%;
  }
}
.zd-u-xlPush6 {
  @media (min-width: $zd-screen-xl-min) {
    left: 50%;
  }
}
.zd-u-xlPush5 {
  @media (min-width: $zd-screen-xl-min) {
    left: 41.66666666666667%;
  }
}
.zd-u-xlPush4 {
  @media (min-width: $zd-screen-xl-min) {
    left: 33.33333333333333%;
  }
}
.zd-u-xlPush3 {
  @media (min-width: $zd-screen-xl-min) {
    left: 25%;
  }
}
.zd-u-xlPush2 {
  @media (min-width: $zd-screen-xl-min) {
    left: 16.666666666666664%;
  }
}
.zd-u-xlPush1 {
  @media (min-width: $zd-screen-xl-min) {
    left: 8.333333333333332%;
  }
}
.zd-u-xlPush0 {
  @media (min-width: $zd-screen-xl-min) {
    left: auto;
  }
}

// Large Offset classes 0 ... 11
.zd-u-xlOffset11 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 91.66666666666666%;
  }
}
.zd-u-xlOffset10 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 83.33333333333334%;
  }
}
.zd-u-xlOffset9 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 75%;
  }
}
.zd-u-xlOffset8 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 66.66666666666666%;
  }
}
.zd-u-xlOffset7 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 58.333333333333336%;
  }
}
.zd-u-xlOffset6 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 50%;
  }
}
.zd-u-xlOffset5 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 41.66666666666667%;
  }
}
.zd-u-xlOffset4 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 33.33333333333333%;
  }
}
.zd-u-xlOffset3 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 25%;
  }
}
.zd-u-xlOffset2 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 16.666666666666664%;
  }
}
.zd-u-xlOffset1 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 8.333333333333332%;
  }
}
.zd-u-xlOffset0 {
  @media (min-width: $zd-screen-xl-min) {
    margin-left: 0;
  }
}

// XXL Screens
.zd-u-xxl12 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 100%;
  }
}
.zd-u-xxl11 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 91.66666666666666%;
  }
}
.zd-u-xxl10 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 83.33333333333334%;
  }
}
.zd-u-xxl9 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 75%;
  }
}
.zd-u-xxl8 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 66.66666666666666%;
  }
}
.zd-u-xxl7 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 58.333333333333336%;
  }
}
.zd-u-xxl6 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 50%;
  }
}
.zd-u-xxl5 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 41.66666666666667%;
  }
}
.zd-u-xxl4 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 33.33333333333333%;
  }
}
.zd-u-xxl3 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 25%;
  }
}
.zd-u-xxl2 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 16.666666666666664%;
  }
}
.zd-u-xxl1 {
  @media (min-width: $zd-screen-xxl-min) {
    width: 8.333333333333332%;
  }
}
.zd-u-xxlPull12 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 100%;
  }
}
.zd-u-xxlPull11 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 91.66666666666666%;
  }
}
.zd-u-xxlPull10 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 83.33333333333334%;
  }
}
.zd-u-xxlPull9 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 75%;
  }
}
.zd-u-xxlPull8 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 66.66666666666666%;
  }
}
.zd-u-xxlPull7 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 58.333333333333336%;
  }
}
.zd-u-xxlPull6 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 50%;
  }
}
.zd-u-xxlPull5 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 41.66666666666667%;
  }
}
.zd-u-xxlPull4 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 33.33333333333333%;
  }
}
.zd-u-xxlPull3 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 25%;
  }
}
.zd-u-xxlPull2 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 16.666666666666664%;
  }
}
.zd-u-xxlPull1 {
  @media (min-width: $zd-screen-xxl-min) {
    right: 8.333333333333332%;
  }
}
.zd-u-xxlPull0 {
  @media (min-width: $zd-screen-xxl-min) {
    right: auto;
  }
}
.zd-u-xxlPush12 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 100%;
  }
}
.zd-u-xxlPush11 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 91.66666666666666%;
  }
}
.zd-u-xxlPush10 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 83.33333333333334%;
  }
}
.zd-u-xxlPush9 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 75%;
  }
}
.zd-u-xxlPush8 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 66.66666666666666%;
  }
}
.zd-u-xxlPush7 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 58.333333333333336%;
  }
}
.zd-u-xxlPush6 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 50%;
  }
}
.zd-u-xxlPush5 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 41.66666666666667%;
  }
}
.zd-u-xxlPush4 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 33.33333333333333%;
  }
}
.zd-u-xxlPush3 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 25%;
  }
}
.zd-u-xxlPush2 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 16.666666666666664%;
  }
}
.zd-u-xxlPush1 {
  @media (min-width: $zd-screen-xxl-min) {
    left: 8.333333333333332%;
  }
}
.zd-u-xxlPush0 {
  @media (min-width: $zd-screen-xxl-min) {
    left: auto;
  }
}

// Extra extra large Offset classes 0 ... 11
.zd-u-xxlOffset11 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 91.66666666666666%;
  }
}
.zd-u-xxlOffset10 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 83.33333333333334%;
  }
}
.zd-u-xxlOffset9 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 75%;
  }
}
.zd-u-xxlOffset8 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 66.66666666666666%;
  }
}
.zd-u-xxlOffset7 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 58.333333333333336%;
  }
}
.zd-u-xxlOffset6 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 50%;
  }
}
.zd-u-xxlOffset5 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 41.66666666666667%;
  }
}
.zd-u-xxlOffset4 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 33.33333333333333%;
  }
}
.zd-u-xxlOffset3 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 25%;
  }
}
.zd-u-xxlOffset2 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 16.666666666666664%;
  }
}
.zd-u-xxlOffset1 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 8.333333333333332%;
  }
}
.zd-u-xxlOffset0 {
  @media (min-width: $zd-screen-xxl-min) {
    margin-left: 0;
  }
}

// Extra extra extra large screens
.zd-u-xxxl12 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 100%;
  }
}
.zd-u-xxxl11 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 91.66666666666666%;
  }
}
.zd-u-xxxl10 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 83.33333333333334%;
  }
}
.zd-u-xxxl9 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 75%;
  }
}
.zd-u-xxxl8 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 66.66666666666666%;
  }
}
.zd-u-xxxl7 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 58.333333333333336%;
  }
}
.zd-u-xxxl6 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 50%;
  }
}
.zd-u-xxxl5 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 41.66666666666667%;
  }
}
.zd-u-xxxl4 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 33.33333333333333%;
  }
}
.zd-u-xxxl3 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 25%;
  }
}
.zd-u-xxxl2 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 16.666666666666664%;
  }
}
.zd-u-xxxl1 {
  @media (min-width: $zd-screen-xxxl-min) {
    width: 8.333333333333332%;
  }
}
.zd-u-xxxlPull12 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 100%;
  }
}
.zd-u-xxxlPull11 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 91.66666666666666%;
  }
}
.zd-u-xxxlPull10 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 83.33333333333334%;
  }
}
.zd-u-xxxlPull9 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 75%;
  }
}
.zd-u-xxxlPull8 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 66.66666666666666%;
  }
}
.zd-u-xxxlPull7 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 58.333333333333336%;
  }
}
.zd-u-xxxlPull6 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 50%;
  }
}
.zd-u-xxxlPull5 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 41.66666666666667%;
  }
}
.zd-u-xxxlPull4 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 33.33333333333333%;
  }
}
.zd-u-xxxlPull3 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 25%;
  }
}
.zd-u-xxxlPull2 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 16.666666666666664%;
  }
}
.zd-u-xxxlPull1 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: 8.333333333333332%;
  }
}
.zd-u-xxxlPull0 {
  @media (min-width: $zd-screen-xxxl-min) {
    right: auto;
  }
}
.zd-u-xxxlPush12 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 100%;
  }
}
.zd-u-xxxlPush11 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 91.66666666666666%;
  }
}
.zd-u-xxxlPush10 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 83.33333333333334%;
  }
}
.zd-u-xxxlPush9 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 75%;
  }
}
.zd-u-xxxlPush8 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 66.66666666666666%;
  }
}
.zd-u-xxxlPush7 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 58.333333333333336%;
  }
}
.zd-u-xxxlPush6 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 50%;
  }
}
.zd-u-xxxlPush5 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 41.66666666666667%;
  }
}
.zd-u-xxxlPush4 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 33.33333333333333%;
  }
}
.zd-u-xxxlPush3 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 25%;
  }
}
.zd-u-xxxlPush2 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 16.666666666666664%;
  }
}
.zd-u-xxxlPush1 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: 8.333333333333332%;
  }
}
.zd-u-xxxlPush0 {
  @media (min-width: $zd-screen-xxxl-min) {
    left: auto;
  }
}

// Extra extra extra large Offset classes 0 ... 11
.zd-u-xxxlOffset11 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 91.66666666666666%;
  }
}
.zd-u-xxxlOffset10 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 83.33333333333334%;
  }
}
.zd-u-xxxlOffset9 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 75%;
  }
}
.zd-u-xxxlOffset8 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 66.66666666666666%;
  }
}
.zd-u-xxxlOffset7 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 58.333333333333336%;
  }
}
.zd-u-xxxlOffset6 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 50%;
  }
}
.zd-u-xxxlOffset5 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 41.66666666666667%;
  }
}
.zd-u-xxxlOffset4 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 33.33333333333333%;
  }
}
.zd-u-xxxlOffset3 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 25%;
  }
}
.zd-u-xxxlOffset2 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 16.666666666666664%;
  }
}
.zd-u-xxxlOffset1 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 8.333333333333332%;
  }
}
.zd-u-xxxlOffset0 {
  @media (min-width: $zd-screen-xxxl-min) {
    margin-left: 0;
  }
}

@media (max-width: $zd-screen-sm-max) {
  
}

// Hidden on medium
@media (min-width: $zd-screen-md-min) and (max-width: $zd-screen-md-max) {
  
}

// Hidden on large
@media (min-width: $zd-screen-lg-min) and (max-width: $zd-screen-lg-max) {
  
}

// Hidden on extra large
@media (min-width: $zd-screen-xl-min) and (max-width: $zd-screen-xl-max) {
  
}

// Hidden on extra extra large
@media (min-width: $zd-screen-xxl-min) and (max-width: $zd-screen-xxl-max) {
  
}

// Hidden on extra extra extra large
@media (min-width: $zd-screen-xxxl-min) {
  
}