.navbar {
    width: 18.75rem;
    height: 100%;
    background-color: var(--#{$prefix}-primary);
    color:  var(--#{$prefix}-primary-text);
    position: relative;
    .navicon {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--#{$prefix}-primary-text);
        background-color: var(--#{$prefix}-primary);
    }
    
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            line-height: 2.5rem;
            text-align: center;
            a {
                text-decoration: none;
                display: block;
                width: 100%;
                background: #333;
                color: #fff;
                position: relative;
                box-sizing: border-box;
                .fa {
                    position: absolute;
                    left: 0.625rem;
                    top: .7rem;
                    &.image-icon {
                        width: 1.3125rem;
                        height: 1.3125rem;
                        background-size: 100%;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        top: 0.3125rem;
                        left: 0.5rem;
                    }
                }
            }
            ul {
                display: none;
                li {
                    a {
                        background: #888;
                    }
                }
            }
            &.active {
                @include active();
                >a {
                    background: var(--#{$prefix}-primary);
                }
                ul {
                    display: block;
                }
            }
            &.expand {
                ul {
                    display: block;
                }
            }
            &:hover {
                >a {
                    background: var(--#{$prefix}-primary);
                }
            }
        }
    }
    >ul {
        &.nav-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            max-height: 18.75rem;
        }
    }

    &.min {
        width: 1.875rem;
        >ul {
            >li {
                >a {
                    span {
                        display: none;
                    }
                    .fa {
                        position: static;
                    }
                }
                &.active {
                    a {
                        .fa {
                            position: static;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
            li {
                &:hover {
                    >a {
                        span {
                            width: 16.875rem;
                            display: block;
                            position: absolute;
                            background: var(--#{$prefix}-primary);
                            top: 0;
                            left: 1.875rem;
                        }
                    }
                }
            }
        }
    }
}