.dialog-panel {
    width: 33.33%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--#{$prefix}-panel);
    z-index: 899;
    .panel-header {
        text-align: center;
        line-height: 30px;
        background: var(--#{$prefix}-primary);
        color: var(--#{$prefix}-primary-text);
        .fa-close {
            float: right;
            line-height: 1.875rem;
            margin-right: 0.625rem;
        }
    }
    .panel-body {
        height: 100%;
        padding-bottom: 1.875rem;
        box-sizing: border-box;
        overflow-y: auto;
    }
    &.fixed {
       position: fixed;
    }
    &.min {
        bottom: auto;
        .panel-body {
            display: none;
        }
    }
    &.right {
        right: 0;
        left: auto;
    }
}

.panel-container {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: var(--#{$prefix}-panel);
    padding: 1.25rem;
    .page-empty-tip {
        font-size: 3em;
        color: var(--#{$prefix}-secondary-text);
        font-weight: 700;
        text-align: center;
        padding: 2em 0;
        cursor: default;
        user-select: none;
    }
}