.path {
    li {
        display: inline-block;
        padding: 0 6px;
        &::after {
            content: '/';
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}