@use 'theme';
@use 'mixins';
@use 'sizes';
.tab-box {
    .tab-header {
        position: relative;
        display: flex;
        user-select: none;
        .tab-item {
            &:hover {
                background: var(--#{theme.$prefix}input-hovered);
            }
            &.active {
                @include mixins.active();
                .fa {
                    display: block;
                }
            }
            display: inline-block;
            width: 9.375rem;
            height: sizes.$line-height;
            line-height: sizes.$line-height;
            text-align: center;
            position: relative;
            .fa-close {
                position: absolute;
                right: 10px;
                top: 6px;
                display: none;
            }
        }
        &.has-over {
            >.fa {
                position: absolute;
                width: 1.875rem;
                text-align: center;
                line-height: 1.875rem;
                &:last-child {
                    right: 0;
                    top: 0;
                }
            }
            .tab-header-content {
                ul {
                    padding: 0;
                    margin: 0 1.875rem;
                }
            }
        }
    }
    .tab-body {
        .tab-item {
            display: none;
            width: 100%;
            padding: 0.8rem 0;
            &.active {
                display: block;
                background: transparent;
                // color: #767676;
            }
        }
    }
}

.tab-bar {
    display: block;
    line-height: 2.5rem;
    a {
        color: var(--#{theme.$prefix}body-text);
    }
    .item {
        display: inline-block;
        padding: 0 1.25rem;
        cursor: pointer;
        &:hover {
            background-color: var(--#{theme.$prefix}hover);
        }
        &.active {
            @include mixins.active();
        }
        &:first-of-type {
            border-top-left-radius: 0.3125rem;
            border-bottom-left-radius: 0.3125rem;
        }
        &:last-of-type {
            border-top-right-radius: 0.3125rem;
            border-bottom-right-radius: 0.3125rem;
        }
    }
}

.flip-tab-item {
    display: none;
    &.active {
        display: block;
    }
}