.zd-tab {
    .zd-tab-head {
        .zd-tab-item {
            &.active {
                @extend .active;
            }
            text-align: center;
            line-height: 40px;
        }
    }
    .zd-tab-body {
        .zd-tab-item {
            &.active {
                display: block;
            }
            display: none;
        }
    }
}