.tab-box {
    .tab-header {
        position: relative;
        display: flex;
        user-select: none;
        .tab-item {
            &:hover {
                background: #ccc;
            }
            &.active {
                @include active();
                .fa {
                    display: block;
                }
            }
            display: inline-block;
            width: 9.375rem;
            height: $lineHeight;
            line-height: $lineHeight;
            text-align: center;
            position: relative;
            .fa-close {
                position: absolute;
                right: 10px;
                top: 6px;
                display: none;
            }
        }
        &.has-over {
            >.fa {
                position: absolute;
                width: 30px;
                text-align: center;
                line-height: 30px;
                &:last-child {
                    right: 0;
                    top: 0;
                }
            }
            .tab-header-content {
                ul {
                    padding: 0;
                    margin: 0 30px;
                }
            }
        }
    }
    .tab-body {
        .tab-item {
            display: none;
            width: 100%;
            padding: 0.8rem 0;
            &.active {
                display: block;
                background: transparent;
                color: #767676;
            }
        }
    }
}