@import "scrollbar";
.selector {
    position: fixed;
    width: 300px;
    background: #fff;
    border: 1px solid #0275d8;
    display: none;
    box-sizing: border-box;
    z-index: 999;
    * {
        margin: 0;
        padding: 0;
    }
    .selector-header {
        border-bottom: 2px solid #0275d8;
        li {
            list-style: none;
            display: inline-block;
            line-height: 30px;
            padding: 0 5px;
            text-align: center;
            min-width: 78px;
            
            &.active {
                background: #0275d8;
                color: #fff;
            }
        }
    }
    .selector-body {
        overflow-y: auto;
        height: 160px;
        @include scrollbar();
        ul {
            display: none;
            &.active {
                display: block;
            }
            li {
                list-style: none;
                display: inline-block;
                line-height: 25px;
                padding: 0 8px;
                text-align: center;
                min-width: 60px;
                &.selected,
                &:hover {
                    background: #0275d8;
                    color: #fff;
                }
            }
        }
    }
    .fa-close {
        position: absolute;
        top: 0;
        line-height: 30px;
        right: 5px;
    }
}