.datetimer {
    width: 350px;
    position: absolute;
    display: none;
    z-index: 999;
    .header {
        position: relative;
        text-align: center;
        line-height: 40px;
        background: #af5d0d;
        font-size: 20px;
        span {
            width: 60%;
            display: inline-block;
        }
        .previousMonth,
        .nextYear {
            margin-left: 10px;
        }
    }
    li {
        list-style: none;
    }
    .body {
        height: 350px;
        position: relative;
        .month-grid, 
        .year-grid, 
        .day-grid {
            background: #fff;
            position: absolute;
            top: 0;
            width: 100%;
            bottom: 0;
            left: 0;
        }
        ol, ul {
            padding: 0;
            margin: 0;
        }
        .month-grid {
            ol {
                background: #f9cfa6;
            }
            li {
                display: inline-block;
                width: 50px;
                line-height: 50px;
                text-align: center;
                box-sizing: border-box;
            }
            ul {
                li {
                    &.active {
                        background: #af5d0d;
                    }
                    &.disable {
                        color: #ccc;
                    }
                }
            }
        }
        .list-group {
            width: 80px;
            display: inline-block;
            ul {
                height: 300px;
                li {
                    line-height: 30px;
                    &.active {
                        background: #af5d0d;
                    }
                }
            }
        }
        .day-grid {
            display: none;
            .list-group {
                width: 60px;
                &:first-child {
                    margin-left: 80px;
                }
            }
        }
        .year-grid {
            display: none;
            .list-group {
                &:first-child {
                    margin-left: 90px;
                }
            }
        }
        .year-grid,
        .day-grid {
            .fa-close {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
    .footer {
        background: #f9cfa6;
        position: relative;
        height: 30px;
        input {
            width: 30px;
            height: 30px;
            font-size: 20px;
            text-align: center;
            border: none;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            background: transparent;
        }
        button {
            position: absolute;
            right: 0;
            width: 100px;
            background: green;
            color: #fff;
            height: 30px;
            border: none;
        }
    }
}

.list-group {
    .title,
    ul {
        width: 100%;
        text-align: center;
    }
    ul {
        overflow-y: auto;
        border: 1px solid #eee;
        &::-webkit-scrollbar{
            height:6px;
            width:6px;
            margin-right:5px;
            background: #f5f5f5;
            transition:all 0.3s ease-in-out;
            border-radius:0px
        }
        &::-webkit-scrollbar-track { 
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }
        &::-webkit-scrollbar-thumb{
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background: rgba(0,0,0,0.5); 
            &:hover{
                background:rgba(0,0,0,0.6);
            }
            &:active{
                background:rgba(0,0,0,0.8);
            }
            &:window-inactive {
                background: rgba(0,0,0,0.4);
            }
        }
    }
    
}