@mixin slider-page($i: 1) {
    &.page-#{$i} {
        left: 250px * ($i - 1);
    } 
}

* {
    margin: 0;
    padding: 0;
    word-break: break-all;
}
.slider-box {
    position: fixed;
    top: 0;
    left: -251px;
    width: 250px;
    height: 100vh;
    z-index: 100;
    transition: left 0.2s;
    transition: transform 0.5s;
    transform: translateX(0);
    overflow: hidden;
    background: rgba(255,255,255,0.9);
    .slider-wraper {
        position: absolute;
        left: 0;
        top: 0;
        width: 9999px;
        height: 100vh;
        transition: transform 0.5s;
        transform: translate(0px, 0px);
    }
    .slider-item {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        display: none;
        ul {
            position: absolute;
            width: 250px;
            height: 100%;
            left: 0;
            overflow: visible;
            transition: margin-left 0.25s;
            border-right: 1px solid #d6d6d6;
            list-style-type: none;
            li {
                box-sizing: border-box;
                font-size: 125%;
                a {
                    box-sizing: border-box;
                    padding: 12px 30px;
                    width: 100%;
                    font-size: 100%;
                    display: inline-block;
                    border-bottom: 1px solid #dddddd;
                }
                &.expand {
                    ul {
                        position: relative;
                        width: 250px;
                        height: 100%;
                        margin-left: 0;
                        display: none;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        z-index: 10;
                    }
                    &.expanded {
                        ul {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }
            &.alphabet {
                li {
                    &:nth-child(n+2) {
                        width: 50px;
                        float: left;
                        border-right: 1px solid #dddddd;
                    }
                    &.back {
                        width: 100%;
                        float: none;
                    }
                }
            }

        }
        &:first-child {
            display: block;
        }
        @for $i from 2 through 6 {
            @include slider-page($i);
        }
    }
    &.open {
        transform: translateX(250px);
    }
}