.swipe-box {
    overflow: hidden;
    .swipe-row {
        width: 100%;
        position: relative;
        height: 80px; 
        padding: 0;
        margin: 0;
        transition: left .5s;
        .swipe-content {
            width: 100%;
            display: block;
            height: 80px;
        }
        .actions-left,
        .actions-right {
            position: absolute;
            height: 80px; 
            min-height: 80px;
            max-height: 80px;
            text-align: center;
            font-size: 22px;
            top: 0;
            white-space: nowrap;
        }
        .actions-left {
            color: #FFF;
            background-color: rgb(0, 187, 72);
            right: 100%;
        }
        .actions-right {
            color: #FFF;
            background-color: #BB0000;
            left: 100%;
        }
    }
}