* {
    font-family: "方正启体简体", "微软雅黑", "黑体";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container,
.containerFull {
    max-width: 640px;
    min-height: 150px;
    position: relative;
    overflow-x: hidden;
    table-layout: fixed;
    word-break: break-all;
    margin: 0 auto;
}

.container {
    padding-bottom: 48px;
    padding-top: 44px;
}

header,
.header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e1e1e1;
    .brand {
        width: 20%;
        font-size: 30px;
        margin-left: 10px;
        float: left;
    }
    .search {
        float: right;
        height: 30px;
        margin-right: 10px;
        width: 60%;
        .fa {
            position: absolute;
            margin-top: 10px;
            margin-left: 5px;
            z-index: 99;
        }
        input {
            margin-top: 2px;
            width: 100%;
            font-size: 20px;
            border: 1px solid #333;
            padding: 4px 0 4px 20px;
            box-sizing: border-box;
            background: transparent;
        }
    }
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #05a6b1;
    color: #fff;
    text-align: center;
    z-index: 9999;
    border: 0;
    .back {
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -12px;
        font-size: 25px;
        color: #fff;
    }
    .btn {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -17px;
        border: 1px solid #fff;
        padding: 5px;
        color: #fff;
    }
    .title {
        line-height: 44px;
    }
}


footer,
.footer {
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #e1e1e1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    a,
    .item {
        width: 20%;
        text-align: center;
        display: block;
        float: left;
        padding-top: 4px;
        box-sizing: border-box;
        position: relative;
        .tip {
            display: block;
            position: absolute;
            right: 30px;
            top: 0px;
            width: 16px;
            height: 16px;
            color: #fff;
            background: #e1454b;
            font-size: 10px;
        }
        &.active {
            color: #4693d0;
        }
        .fa {
            font-size: 30px;
            display: block;
        }
    }
    &.comment {
        background: rgba(23,12,23,.7);
        a {
            width: 100%;
            text-align: center;
        }
    }
}

.userHeader {
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;
    background: #00E0F2;
    .avatar {
        width: 90px;
        height: 90px;
        margin: 0px auto;
        text-align: center;
        line-height: 0;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &::after {
            content: "";
            width: 100px;
            height: 100px;
            border: 2px solid #99e3ff;
            border-radius: 100%;
            position: absolute;
            left: -7px;
            top: -7px;
            z-index: 0;
        }
    }
    .name {
        text-align: center;
        padding-top: 10px;
    }
}

.group {
    position: relative;
    .fa {
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    input {
        width: 100%;
        padding: 5px 0 5px 30px;
        box-sizing: border-box;
        font-size: 20px;
        border: 1px solid #c1c1c1;
        &:required {
            background: #fff url(../image/required.png) no-repeat 98% center;
            background-size: 8px;
        }
        &:focus {
            border: 0;
            &:invalid {
                background: #fff url(../image/invalid.png) no-repeat 98% center;
                background-size: 8px;
            }
            &+.fa {
                color: #e1454b;
                &+ .tip {
                    display: block;
                }
            }
        }
        &:valid {
            background: #fff url(../image/valid.png) no-repeat 98% center;
            background-size: 8px;
             &+.fa {
                color: #5cb85c;
            }
        }
    }
    .tip {
        display: none;
        margin-left: 40px;
        color: #e1454b;
    }
    &.error {
        .fa {
            color: #f00;
        }
        input {
            border: 2px solid #f00;
        }
    }
    &.code {
        img {
            height: 36px;
            padding: 1px;
            position: absolute;
            width: 100px;
            right: 0;
            top: 0;
            border-left: 2px solid #c1c1c1;
        }
        &.error {
            img {
                border-left: 2px solid #f00;
            }
        }
        input {
            padding-right: 100px;
        }
    }
}
.checkbox {
    width: 40px;
	height: 20px;
    border: 1px solid #767676;
	background: #fff;
	position: relative;
    input[type=checkbox] {
        visibility: hidden;
        &:checked {
            &+ label {
                left: 20px;
                background: #05a6b1;
            }
        }
    }
    label {
        display: block;
        width: 20px;
        height: 20px;
    
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
    }
}

.checkboxGroup {
    margin: 5px;
    font-size: 20px;
    .checkbox {
        float: left;
    }
}

.login {
    margin-top: 30px;
    .btn {
        margin-top: 10px;
        width: 100%;
        background: #05a6b1;
        color: #fff;
        line-height: 40px;
        border: none;
    }
}



.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.oauth {
    position: relative;
    margin-top: 20px;
    .textCenter::before,
    .textCenter::after {
        content: "";
        width: 40%;
        height: 1px;
        background-color: #e2e2e2;
        position: absolute;
        top: 10px;
    }
    .textCenter::before {
        left: 0;
    }
    .textCenter::after {
        right: 0;
    }
}

.carousel {
    position: relative;
    ul {
        position: relative;
        width: 2000px;
        zoom: 1;
        left: 0;
        /*-webkit-transition: left 1s;
        -moz-transition: left 1s;
        transition: left 1s;*/
        li {
            list-style: none;
            float: left;
            width: 640px;
            img {
                width: 100%;
                display: block;
            }
        }
        
    }
    .link {
        position: absolute;
        top: 10px;
        left:50%;
        margin-left: -20px;
        span {
            float: left;
            margin-right: 8px;
            width: 8px;
            height: 8px;
            display: block;
            background: rgba(255,255,255,.4);
            cursor: pointer;
            text-indent: 9999px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            &.active {
                background: #fff;
            }
        }
    }
}

.clear {
    clear: both;
}

.panel {
    >.title {
        border: 1px solid #767676;
        height: 40px;
        line-height: 40px;
        span {
            font-size: 25px;
            margin-left: 10px;
        }
        a {
            float: right;
            border-left: 1px solid #c1c1c1;
        }
    }
    .body {
        border: 1px solid #c1c1c1;
        border-top: 0;
    }
} 

.grid {
    .gridItem {
        width: 49%;
        text-align: center;
        float: left;
        &:nth-child(odd) {
            width: 49%;
            margin-right: 2%;
        }
        img {
            width: 100%;
        }
    }
}

.list {
    clear: both;
    .listItem,
    .listItemImage {
        width: 100%;
        padding: 5px 5px 20px 5px;
        border-bottom: 1px dotted #c1c1c1;
        &.active {
            background: #99e3ff;
            border-left: 5px solid #00E0F2;
        }
    }
    .listItem {
        &:first-child {
            border-top: 1px dotted #c1c1c1;
        }
        &:last-child {
            padding-top: 0;
        }
    }
    .listItemImage {
        position: relative;
        img {
            width: 30%;
            max-width: 100px;
            float: left;
            position: relative;
        }
        .content {
        position: relative;
        float: left;
        }
    }
}

.form {
    button {
        height: 50px;
        border: 0;
        width: 7%;
        font-size: 40px;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }
    textarea {
        height: 50px;
        width: 86%;
        box-sizing: border-box;
    }
}

.chat {
    .left,
    .right {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin-bottom: 10px;
        >dd {
            padding: 0 10px;
            display: table-cell;
            vertical-align: top;
        }
        .content {
            border: 1px #e3e3e3 solid;
            padding: 10px;
            display: inline-block;
            position: relative;
        }
    }
    .time {
        text-align: center;
        margin-bottom: 10px;
        span {
            display: inline-block;
            padding: 2px 6px;
            background-color: #cbcbd0;
        }
    }
    .avatar {
        width: 35px;
        display: table-cell;
        vertical-align: top;
        img {
            width: 35px;
            height: 35px;
        }
    }
    .left {
        .content {
            background-color: #fff;
            &::before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-right: 7px solid #e3e3e3;
                border-bottom: 5px solid transparent;
                position: absolute;
                top: 10px;
                left: -8px;
                z-index: 1;
            }
            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-right: 7px solid #fff;
                border-bottom: 5px solid transparent;
                position: absolute;
                top: 10px;
                left: -6px;
                z-index: 1;
            }
        }
    }
    .right {
        >dd {
            text-align: right;
        }
        .content {
            background-color: #a3e990;
            &::before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 7px solid #e3e3e3;
                border-bottom: 5px solid transparent;
                position: absolute;
                top: 10px;
                right: -8px;
                z-index: 1;
            }
            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 7px solid #a3e990;
                border-bottom: 5px solid transparent;
                position: absolute;
                top: 10px;
                right: -6px;
                z-index: 1;
            }
        }
    }
}

.menu {
    .item {
        border-right: 1px dotted #4693d0;
        &:nth-child(5n) {
            border: 0;
        }
    }
}
.menuLarge {
    .item {
        width: 50%;
        border-right: 1px dotted #4693d0;
        border-top: 1px dotted #4693d0;
        height: 120px;
        .fa {
            font-size: 50px;
            margin-top: 20px;
        }
        &:nth-child(even) {
            border-right: 0;
        }
        &:first-child,
        &:nth-child(2) {
            border-top: 0;
        }
    }
}



.menuList {
    a {
        display: block;
        padding: 10px;
        background: #99e3ff;
        margin-top: 2px;
        .fa:nth-child(2) {
            float: right;
            margin-right: 10px;
        }
    }
}

.expand {
    margin:2px 0;
    .title {
        background: #c1c1c1;
        padding: 10px;
        .fa {
            float: right;
        }
    }
    .content {
        display: none;
        border: 1px solid #c1c1c1;
    }
    &.active {
        .title {
            .fa {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);		/* IE 9 */
                -webkit-transform: rotate(180deg);	/* Safari and Chrome */
                -o-transform: rotate(180deg);		/* Opera */
                -moz-transform: rotate(180deg);		/* Firefox */
            }
        }
        .content {
            display: block;
        }
    }
}

.tab {
    .tab-header {
        width: 100%;
        height: 44px;
        line-height: 45px;
        border-bottom: 1px solid #cccccc;
        box-sizing: border-box;
        >li {
            width: 33%;
            float: left;
            height: 45px;
            box-sizing: border-box;
            text-align: center;
            list-style: none;
            &:nth-child(2) {
                width: 34%;
            }
            &.active {
                border-bottom: 3px solid #05a6b1;
                height: 43px;
            }
        }
    }
    .tab-content {
        >li {
            display: none;
            width: 100%;
            &.active {
                display: block;
            }
        }
    }
}

.message {
    li {
        padding: 8px 0;
        list-style: none;
        position: relative;
        border-bottom: 1px solid #c1c1c1;
        height: 80px;
        .time {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #767676;
        }
    }
    .content {
        font-size: 20px;
        >p {
            color: #767676;
            margin-top: 10px;
        }
    }
    .avatar {
        float: left;
        position: relative;
        width: 80px;
        margin-right: 10px;
        span{
            position: absolute;
            right: -4px;
            top: -4px;
            background: #f00;
            color: #fff;
            padding: 2px 5px;
            display: block;
        }
    }
}

.friends {
    .tag,
    .friend {
        display: block;
    }
    .tag {
        background: #c1c1c1;
        padding: 3px 10px;
    }
    .friend {
        height: 60px;
        font-size: 30px;
        padding: 14px 0;
        border-bottom: 1px solid #c1c1c1;
        box-sizing: border-box;
        img {
            width: 60px;
            height: 60px;
            float: left;
            margin: -14px 10px -14px 0;
        }
    }
}

.blog,
.comments {
    li {
        position: relative;
        padding: .4rem .5rem 0;
        overflow: hidden;
        line-height: initial;
        border-bottom: 10px solid #f1f1f1;
    }
    .title {
        .time {
            float: right;
        }
        img {
            width: 40px;
        }
    }
}

.blog {
    .content {
        .commentCount,
        .viewCount {
            float: right;
        }
    }
}

.commentText {
    margin-left: 3.3rem;
    .commentSecond {
        border: 1px solid #f1f1f1;
        font-size: .75rem;
    }
}

.commentText 
.comments .user {
    color: #60abff;
    font-size: 1.2rem;
    font-weight: 600;
}

#content {
    .bottom {
        margin-top: 5px;
        >a {
            float: right;
        }
    }
}

.user {
    height: 50px;
    img {
        float: left;
        width: 50px;
        margin-right: 10px;
    }
}

/** Metro **/

.metro {
    position: relative;
    .metroItem {
        float: left;
        background: rgba(0, 355,255,.4);
    }
}



/** 手风琴 **/

.accordion {
    height: 200px;
    width: 100%;
    li {
        list-style: none;
    }
    .accordionItem {
        float: left;
        height: 200px;
        width: 30px;
        -webkit-transition: width 1s;
        -moz-transition: width 1s;
        transition: width 1s;
        &.active {
            .content {
                display: block;
            }
        }
        .title {
            width: 30px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #00E0F2;
            height: 200px;
            float: left;
        }
        .content {
            display: none;
            height: 200px;
            width: 300px;
            float: left;
            img {
                height: 150px;
            }
        }
    }
}

/** Dialog **/

.tipDialog, 
.notifyDialog {
    position: fixed;
    background: rgba(0,255,255,.4);
    padding: 10px 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index: 9999;
    box-sizing:  border-box;
}

.tipDialog {
    bottom: 80px;
    display: none;
}


.notifyDialog {
    position: fixed;
    top: 10px;
    right: 0;
    width: 0px;
}


@media screen and (max-width: 540px) {
    header,
    .header {
        .brand {
            width: 30%;
            font-size: 20px;
            margin-left: 0;
            margin-top: 10px;
        }
        .search {
            width: 69%;
            margin-right: 0;
        }
    }

    .header 
    .form {
        button {
            font-size: 20px;
        }
    }
}
